.news {
    background-color: var(--vt-neutral-dark-blue);
    padding: 1rem;
    margin-top: 4rem;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 1rem;
    }

    &__title {
        margin: 0.6rem 0;
        font-weight: 700;
        font-size: 1.1rem;

        &>a {
            color: white;
            transition: all 200ms ease-in-out;

            &:hover {
                color: var(--vt-primary-soft-orange);
            }

            &:focus {
                color: var(--vt-primary-soft-orange);
                outline: 3px solid white;
            }
        }

        &--main {
            color: var(--vt-primary-soft-orange);
            font-size: 2rem;
        }
    }

    &__description {
        color: var(--vt-neutral-gray);
        margin-bottom: 30px;
        line-height: 1.4rem;
    }

    &__item {
        color: white;
        border-bottom: 1px solid var(--vt-neutral-gray);

        &:last-child {
            border-bottom: none;
        }
    }
}

@media screen and (min-width: 1024px) {
    .news {
        margin-top: 3rem;
    }
}