@media screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-areas: "header header header header header" "banner banner banner news news" "top top top top top";
    column-gap: 2rem;
  }
  header  {
    grid-area: header;
  }
  .banner  {
    grid-area: banner;
  }
  .news  {
    grid-area: news;
  }
  .top  {
    grid-area: top;
  }
}